# Python
venv/
__pycache__/
*.pyc
*.pyo
data.db

# Environment
.env

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Frontend
Frontend/Agendaento-angola/node_modules/
Frontend/Agendaento-angola/.next/
Frontend/Agendaento-angola/out/
